header {
    position: sticky;
    top: 0;
}

.text-container-2 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px 3px #504343;
}

.text-container-3 {
    font-family: 'PT Sans', sans-serif;
}

.text-container-4 {
    font-family: 'Open Sans', sans-serif;
}

.text-container-5 {
    font-family: 'Inter', sans-serif;
}

.text-container-6 {
    font-family: 'Rubik', sans-serif;
}

.text-container-7 {
    font-family: 'Barlow', sans-serif;
}

.navitem {
    width: 10vw;
}

.navdes {
    width: inherit;
    height: 15px;
    background-color: rgb(66, 66, 66);
}

.hover:hover {
    .navdes {
        background-color: rgb(220, 229, 242);
    }
}

.hoveractive:hover {
    .navdesactive {
        background-color: rgb(21, 56, 228);
    }
}

.navdesactive {
    width: inherit;
    height: 15px;
    background-color: rgb(48, 123, 221);
}

.head {
    font-family: 'Noto Sans Display', sans-serif;
}

.textjustify {
    text-align: justify;
}

.imgresize {
    width: 45%;
    height: 45%;
}

.buttonan {
    background: transparent;
    box-shadow: 0 2px 4px 0 white;
    transition: 0.3s;
}

.buttonan:hover {
    transition: 0.3s;
    transform: scale(1.05, 1.05);
}

.line {
    height: 3px;
    background-color: gray;
}

.respwidth {
    width: 8vw;
}